[Unit]
Description=Run auto-pull every 2 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=2min
AccuracySec=10s
Unit=linkedin-auto-pull.service

[Install]
WantedBy=timers.target